.login {
  position: relative;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  gap: 20px;

  h2 {
    font-size: clamp(15px, 1.5vw, 18px);
  }

  form {
    width: 100%;
    gap: 10px;

    .input {
      width: 100%;
      gap: 10px;

      h3 {
        font-size: clamp(14px, 1.5vw, 16px);
      }

      input {
        background-color: var(--el-color);
        font-size: clamp(14px, 1.5vw, 16px);
        padding: clamp(8px, 1vw, 12px);
        border-radius: 3px;
      }
    }
  }
}
