.cardPay {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  gap: 20px;
  background-color: var(--el-color);

  .title {
    font-size: clamp(1rem, 2vw, 1.25rem);
  }

  .cardInfo {
    position: relative;
    gap: 10px;

    p {
      font-size: clamp(0.875rem, 1.5vw, 1rem);
    }

    svg,
    svg path {
      width: 30px;
      height: 30px;
      stroke: var(--purple-color);
    }
  }

  .checkboxWrapper {
    position: relative;
    width: 20px;
    height: 20px;

    .customCheckbox {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      z-index: 2;
    }

    .checkboxCircle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid var(--purple-color);
      border-radius: 50%;
      transition: all 0.2s ease;
      z-index: 1;
    }

    .customCheckbox:checked + .checkboxCircle {
      background-color: var(--purple-color);

      &::after {
        content: '';
        position: absolute;
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    .customCheckbox:hover + .checkboxCircle {
      opacity: 0.8;
    }
  }

  .inputs {
    width: 100%;
    gap: 15px;

    .inputTitle {
      position: relative;
      width: 100%;
      gap: 10px;

      h3 {
        font-size: clamp(0.875rem, 1.5vw, 1rem);
      }

      input {
        border: 1px solid var(--light-gray-color);
        background-color: transparent;
        border-radius: 3px;
        font-size: clamp(0.875rem, 1.5vw, 1rem);
      }

      .error {
        position: absolute;
        bottom: -10px;
        color: red;
        font-size: clamp(10px, 1.2vw, 12px);
        margin-top: clamp(2px, 0.5vw, 5px);
      }
    }
  }
}
