.df {
  display: flex;
}

.dg {
  display: grid;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.aic {
  align-items: center;
}

.tac {
  text-align: center;
}

.fdc {
  flex-direction: column;
}
