* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  transition: all 0.15s;
}

*,
*::before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: none;

  &:active,
  &:focus {
    outline: none;
  }

  &:visited,
  &:hover {
    text-decoration: none;
  }
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  line-height: 1;
  font-family: 'SUSE', sans-serif;
  font-size: clamp(12px, 1vw + 0.5rem, 16px);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button,
a {
  cursor: pointer !important;
  text-decoration: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 500;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: currentColor;
  background: none;
  border: none;
}

input,
select {
  background: none;
  border: none;
  outline: none;
}

body {
  background-color: var(--body-color);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--default);
  cursor: default;
  overflow-y: scroll;

  main {
    margin-top: clamp(40px, 5vw, 50px);
    padding: clamp(10px, 2vw, 20px) clamp(20px, 4vw, 40px);
  }

  ::selection {
    background-color: var(--purple-color);
    color: #fff;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--purple-color);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: var(--el-color);
}
