html {
  --purple-color: #7177f8;
  --gray-color: #2c2c2c;
  --light-gray-color: #5f6c72;
}

html[data-theme='light'] {
  --body-color: #f0f0f0;
  --el-color: #fff;
  --default: #000;
}

html[data-theme='dark'] {
  --body-color: #17212b;
  --el-color: #242f3d;
  --default: #fff;
}
