html {
  --body-color: #f0f0f0;
  --default: #000;
  --purple-color: #7177f8;
  --gray-color: #2c2c2c;
  --light-gray-color: #5f6c72;
}

html[data-theme='dark'] {
  --body-color: #000;
  --default: #fff;
}
