.buyPage {
  width: 100%;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  font-family: 'Open Sans', sans-serif;

  h1 {
    font-size: clamp(0.9rem, 2vw, 1.15rem);
  }

  .buyInfo {
    gap: 25px;
  }
}
