.header {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #e4e7e9;

  * {
    text-transform: uppercase;
  }

  button {
    padding: 10px;
    color: var(--default);

    &.active {
      border-bottom: 3px solid var(--purple-color);
    }
  }
}
