.homeInfo {
  width: 100%;
  padding: 0px clamp(10px, 1vw, 15px);

  .info {
    padding: clamp(10px, 1.5vw, 15px);
    gap: clamp(8px, 1.5vw, 10px);
    background-color: var(--el-color);
    border-radius: 10px;

    svg {
      height: clamp(40px, 3vw, 50px);
      width: clamp(40px, 3vw, 50px);

      path {
        stroke: var(--default);
      }
    }

    div {
      white-space: nowrap;

      p:first-child {
        color: var(--default);
        font-size: clamp(13px, 1vw, 15px);
        text-transform: uppercase;
        margin-bottom: 2px;
      }

      p:last-child {
        margin-top: 2px;
        color: var(--light-gray-color);
        font-size: clamp(11px, 0.9vw, 13px);
      }
    }
  }
}
