.price {
  gap: 10px;

  s {
    color: var(--light-gray-color);
    font-size: clamp(13px, 4vw, 15px);
  }

  span {
    color: var(--purple-color);
    font-size: clamp(14px, 4vw, 16px);
    font-weight: 600;
  }
}
