.navigation {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  gap: clamp(5px, 1vw, 10px);

  .input {
    background-color: var(--purple-color) !important;
    color: #fff;

    font-family: 'Epilogue', serif;

    &::placeholder {
      color: #fff;
    }
  }

  .btns {
    gap: clamp(3px, 0.5vw, 5px);

    a {
      height: clamp(32px, 4vw, 38px);
      padding: clamp(8px, 1.5vw, 12px) clamp(16px, 2vw, 24px);
      border-radius: clamp(8px, 1vw, 10px);
      background-color: transparent;
      color: var(--light-gray-color) !important;
      gap: clamp(3px, 0.5vw, 5px);
      transition: all 0.3s;
      display: flex;
      align-items: center;
      white-space: nowrap;
      font-family: 'Public Sans', serif;

      svg,
      svg path {
        stroke: var(--light-gray-color) !important;
        transition: all 0.3s;
      }

      &.rowRev {
        flex-direction: row-reverse;
      }

      &.active {
        width: 100%;
        background-color: var(--purple-color);
        color: #fff !important;
        border: clamp(1px, 0.2vw, 2px) solid var(--purple);

        svg,
        svg path {
          stroke: #fff !important;
          stroke-width: 2;
        }
      }

      &:hover {
        background-color: var(--purple-color);
        color: #fff !important;

        svg,
        svg path {
          stroke: #fff !important;
        }
      }
    }
  }
}
