.header {
  position: sticky;
  top: 0;
  left: 0;
  width: calc(100% - var(--scrollbar-width));
  height: clamp(40px, 5vw, 50px);
  padding: clamp(10px, 2vw, 20px);
  font-family: 'Open Sans', sans-serif;
  justify-content: space-between;
  z-index: 999;
  background-color: var(--el-color);
  display: flex;

  a,
  button {
    position: relative;

    svg,
    svg path {
      color: var(--default);
    }

    .count {
      position: absolute;
      bottom: -8px;
      right: -8px;
      padding: 2px 5px;
      font-size: clamp(90px, 5vw, 13px);
      background-color: var(--purple-color);
      border-radius: 50%;
      font-size: 12px;
      font-weight: 600;
      color: #fff;
      user-select: none;
    }
  }

  .location {
    gap: 10px;

    button {
      gap: 5px;
    }
  }

  .routes {
    gap: clamp(10px, 2vw, 15px);
  }
}
