.header {
  position: sticky;
  top: 0;
  left: 0;
  width: calc(100% - var(--scrollbar-width));
  height: clamp(40px, 5vw, 50px);
  padding: clamp(10px, 2vw, 20px);
  font-family: 'Open Sans', sans-serif;
  justify-content: space-between;
  z-index: 999;
  background-color: var(--el-color);
  display: flex;

  a,
  button {
    svg,
    svg path {
      color: var(--default);
    }
  }

  .location {
    gap: 10px;

    button {
      gap: 5px;
    }
  }

  .routes {
    gap: clamp(10px, 2vw, 15px);
  }
}
