.header {
  position: sticky;
  top: 0;
  left: 0;
  width: calc(100% - var(--scrollbar-width));
  height: clamp(40px, 5vw, 50px);
  padding: clamp(10px, 2vw, 20px);
  font-family: 'Open Sans', sans-serif;
  justify-content: space-between;
  z-index: 999;
  background-color: var(--el-color);
  display: flex;

  .location {
    gap: clamp(5px, 1vw, 10px);

    div {
      gap: clamp(3px, 0.5vw, 5px);
    }
  }

  .routes {
    gap: clamp(10px, 2vw, 15px);

    a {
      color: var(--default);
    }
  }
}
